@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: #303030;
}

nav ul {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgb(53, 49, 49);
    height: 100%;
    width: 70%;
}

nav ul li a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: 1f1f1f;
}
nav ul li a:hover {
    background-color: #99E7FF;
    color: black;
    font-weight: bold;
}

.exit-btn img {
    fill: white;
    width: 5em;
    margin-bottom: -1em;
    cursor: pointer;
}

p {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    display: table;
    width: 100%;
    padding: 1em;
    padding-top: 2em;
}

#menu {
    margin-top: 0.1em;
    width: auto;
}

#search_bar, #menu {
    display: table-cell;
    vertical-align: middle;
}

#search_bar input {
    width: 100%;
}

#search_box {
    border-radius: 2px;
    border: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 5px 10px
                rgba(0, 0, 0, 0.12),
                0px 9px 12px
                rgba(0, 0, 0, 0.15);
}

.section {
    position: relative;
    margin: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 4em;
    font-size: 16px;
    background-color: #424242;
    border-radius: 3px;
    box-shadow: 0px 10px 12px
                rgba(0, 0, 0, 0.22),
                0px 15px 38px
                rgba(0, 0, 0, 0.2);
}

.headline {
    position: relative;
    top: 1em;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    opacity: 0.8;
}

#guide_arrow {
    position: absolute;
    top: -4.6em;
    left: -0.8em;
    height: 7.2em;
}

#main_content {
    position: relative;
    top: 2em;
    left: 0.5em;
    margin-right: 0.5em;
    opacity: 0.8;
}

.step_1 {
    display: flex;
}

.step_1 #text {
    position: relative;
    left: 0.5em;
    margin-right: 1em;
}

.step_2 {
    display: flex;
}

.step_2 #text {
    position: relative;
    left: 0.5em;
    margin-right: 1em;
}

.step_3 {
    display: flex;
}

.step_3 #text {
    position: relative;
    left: 0.5em;
    margin-right: 1em;
}

.section #popular {
    color: #99E7FF;
    opacity: 0.9;
    font-weight: 600;
    text-decoration: none;
}

#triangle {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.hide-mobile {
    display: none;
}


/************** Log in view **************/

.login_container {
    text-align: center;
    width: 100% - 1em;
    margin: 2em auto;
}

#login_message {
    font-size: 16px;
    font-weight: bold;
    margin: 2em auto;
}

#login_table {
    margin: 0 auto;
    text-align: center;
}

#account, #password {
    text-align: left;
    font-size: 16px;
    opacity: 0.7;
}

.login_signup_btns {
    font-size: 16px;
    padding: 1em;
    line-height: 0px;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 1.5em;
}

#login_btn {
    margin-top: 2em;
    width: 100%;
    height: 2em;
    border: none;
    background-color: 288BFF;
    color: white;
    opacity: 0.9;
    cursor: pointer;
}

#signup_btn {
    text-decoration: none;
    color: black;
    background-color: b8b8b8;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 5.4em;
    padding-right: 5.4em;
}

#forgot_pw {
    text-decoration: none;
    opacity: 0.4;
}

/************** Sign up view *************/
#signup_error {
    color: rgb(255, 36, 36);
    font-weight: bold;
}

/************* Search results ************/

#search_results {
    padding-top: 1em;
}

#search_results #edit {
    cursor: pointer;
}

/*****************************************/
.section #ratings_list {
/*    border: solid red 1px;*/
    padding-top: 1em;
    margin-left: 0.5em;
    overflow: hidden;
}

.rating {
    /*border: solid pink 1px;*/
    overflow: auto;
    margin-top: 1em;
}

.rating #text {
    /*border: solid green 1px;*/
    max-width: 90%;
    float: left;
}

.rating img {
    cursor: pointer;
    /*border: solid white 1px;*/
    float: right;
}
