@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: #3f3f3f;
    /*border: 2px solid palevioletred;*/
}

p {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    /*border: 2px solid green;*/
}

header {
    position: relative;
    display: flex;
    margin: 1em;
    /*border: 2px solid cyan;*/
    overflow: visible;
}

#menu {
    /*border: 2px solid yellow;*/
    margin-top: 0.1em;
    width: 3em;
}

#search_bar {
    position: relative;
    left: 1em;
    width: 150%;
    /*border: 2px solid rgb(255, 153, 0);*/
}

.section {
    position: relative;
    margin: 0.5em;
    padding-bottom: 4em;
    font-size: 24px;
    background-color: #303030
}

.get_started {
    position: relative;
    top: 1em;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    line-height: 26px;
    /*border: 2px solid rgb(127, 0, 0);*/
}

#onetwothree {
    position: relative;
    top: 2em;
    left: 0.5em;
    /*border: 2px dashed yellowgreen;*/

}

.step_1 {
    display: flex;
}

#guide_arrow {
    position: absolute;
    top: -4.1em;
    left: -0.7em;
    height: 6.6em;
    /*border: 2px dashed yellowgreen;*/
}

.step_1 #text {
    position: relative;
    left: 1em;
    margin-right: 1em;
}

.step_2 {
    display: flex;
}

.step_2 #text {
    position: relative;
    left: 1em;
    margin-right: 1em;
}

.step_3 {
    display: flex;
}

.step_3 #text {
    position: relative;
    left: 1em;
    margin-right: 1em;
}

.section #popular {
    color: #80CBC4;
    text-decoration: none;
}

#triangle {
    position: absolute;
    bottom: 0px;
    right: 0px;
    /*border: 2px dashed yellowgreen;*/
}

.hide-mobile {
    display: none;
}


/************** Log in view **************/

.login_body {
    border: 1px solid cyan;
}

.login_container {
    border: 1px solid yellowgreen;
    text-align: center;
    width: 100% - 1em;
    margin: 2em auto;
}

.login_container a {
    color: white;
}

#login_message {
    font-size: 20px;
    font-weight: 600;
    border: 1px dashed orangered;
    margin: 2em auto;
}

#login_form {
    border: 1px dashed orangered;
    margin: 0 auto;
}

#login_form_username input, select, textarea {
    background-color: #bde9ba;
}

#forgot_pw {
    font-size: 10px;
    text-decoration: none;
}