{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if user.is_authenticated %}
    <li>User: {{ user.get_username }}</li>
    <h1>You should see:</h1>
    Rate movies to get recommendations

    <h1>All ratings:</h1>
    {% if ratings %}
    <ul>
        {% for rating in ratings %}
            <li>{{ rating }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No movies rated.</p>
    {% endif %}

    <h1>Available movies:</h1>
    {% if movies %}
        <ul>
            {% for movie in movies %}
                <li>{{ movie }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No movies are available.</p>
    {% endif %}

{% else %}

    <a href="{% url 'login' %}">Log in to get advice</a>

{% endif %}