{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<form action="{% url 'polls:my_view' 1 %}" method="post">
{% csrf_token %}
<input type="submit" value="1 point">
</form>

<form action="{% url 'polls:my_view' 2 %}" method="post">
{% csrf_token %}
<input type="submit" value="2 points">
</form>

<form action="{% url 'polls:my_view' 3 %}" method="post">
{% csrf_token %}
<input type="submit" value="3 points">
</form>

<form action="{% url 'polls:my_view' 4 %}" method="post">
{% csrf_token %}
<input type="submit" value="4 points">
</form>

<form action="{% url 'polls:my_view' 5 %}" method="post">
{% csrf_token %}
<input type="submit" value="5 points">
</form>

{% if user.is_authenticated %}
    <li>User: {{ user.get_username }}</li>
    <h1>You should see:</h1>
    {% for recommendation in recommendations %}
        <li>{{ recommendation }}</li>
    {% endfor %}

    <h1>Your ratings:</h1>
    {% if ratings %}
    <ul>
        {% for rating in ratings %}
            {% if rating.user.username == user.get_username %}
            <li>{{ rating }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no ratings at all.</p>
    {% endif %}

    <h1>All ratings:</h1>
    {% if ratings %}
    <ul>
        {% for rating in ratings %}
            <li>{{ rating }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No movies rated.</p>
    {% endif %}

    <h1>Available movies:</h1>
    {% if movies %}
        <ul>
            {% for movie in movies %}
                <li>{{ movie }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No movies are available.</p>
    {% endif %}

{% else %}

    <a href="{% url 'login' %}">Log in to get advice</a>

{% endif %}