{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'tips/style.css' %}">

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container">
        <div class="section">
            <div class="headline">Common Movies</div>
            <div id="main_content">
                {% for movie in common_movies %}
                    <li>{{ movie }}</li>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}