{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'tips/style.css' %}">

{% block title %}Home{% endblock %}

{% block content %}

<div class="section">
    <div class="headline">Common Movies</div>
    <div id="main_content">
        {% for movie in common_movies %}
            <li>{{ movie }}</li>
            <form action="{% url 'tips:set_rating' movie.id %}" method="POST">
                {% csrf_token %}
                <div id="show_on_click">
                {% for score in choosable_scores %}
                    <input type="radio" name="score" id="{{ score }}"
                    value="{{ score }}">
                {% endfor %}
                </div>
                <input type="submit" value="submit">
            </form>
        {% endfor %}
    </div>
</div>

{% endblock %}