{% load static %}

<title>Home</title>

<link rel="stylesheet" type="text/css" href="{% static 'tips/style.css' %}">

{% if user.is_authenticated %}
    <li>User: {{ user.get_username }}</li>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    <p><a href="{% url 'password_reset' %}">Reset password</a></p>

    <form action="{% url 'tips:search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search here">
    </form>

    <h1>You should see:</h1>
    {% for recommendation in recommendations %}
        <li>{{ recommendation }}</li>
    {% endfor %}

    <h1>Your ratings:</h1>
    {% if ratings %}
    <ul>
        {% for rating in ratings %}
            {% if rating.user.username == user.get_username %}
            <li>{{ rating }}

                <form action="{% url 'tips:update_rating' rating.id %}" method="POST">
                    {% csrf_token %}
                    {% for score in choosable_scores %}
                        <input type="radio" name="score" id="{{ score }}"
                        value="{{ score }}">

                    {% endfor %}
                <input type="submit">
                </form>
                <form action="{% url 'tips:delete' rating.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="delete">
                </form>

            </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no ratings at all.</p>
    {% endif %}

{% else %}

    <a href="{% url 'login' %}">Log in to get advice</a>
    <a href="{% url 'signup' %}">Sign up</a>

{% endif %}