{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'tips/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block title %}Ratings{% endblock %}

{% block content %}
<div class="container">

    <div class="section">

        <div class="headline">
        {% if ratings %}
            My ratings
        {% else %}
            Go ahead and rate some movies!
        {% endif %}
        </div>

        <ul id="ratings_list">
        {% for rating in ratings %}
            <div class="rating">
                <li>
                    <div id="text">{{ rating }}</div>
                    <form action="{% url 'tips:delete' rating.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="clear">
                    </form>
                    <img src="{% static 'tips/images/edit.svg' %}" id="edit{{ forloop.counter }}" class="edit">
                </li>
            </div>
        {% endfor %}
        </ul>

    </div>

</div>

<script>
    var edit_buttons = document.getElementsByClassName("edit");
    for (var i = 0; i < edit_buttons.length; i++) {
        edit_buttons[i].addEventListener('click', function(e) {
            alert(this.id);
        })
    }
</script>
{% endblock %}